html {
	overflow-x: hidden;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#section-1 {
	animation: 3s ease 0s 1 fadeIn;
	width: 100%;
	height: 80vh;
	background-color: rgb(231, 231, 231);
	/* position: fixed; */
	/* top: 20vh; */
	/* left: 0; */
	/* z-index: 0; */
	margin-top: 20vh;

	justify-content: center;
	align-items: center;
	row-gap: 3vh;

	text-align: center;
}

#section-1-video {
}

#section-1-big {
	font-size: 3rem;
}

#section-1-text {
	width: 70%;
	line-height: 7mm;
}

#section-1-buttons-container {
	justify-content: center;
	width: 30%;
}

.section-1-button {
	background-color: #393939;
	border: none;
	height: 5vh;
	color: #fff;
	width: 100%;
	box-shadow: 2px 2px 5px #888888;
	margin-left: 3vw;
	margin-right: 3vw;
	/* border: none;
  height: 5vh;

  margin-left: 3vw;
  margin-right: 3vw;

  box-shadow:  2px 2px 5px #888888; */
}

.section-1-button:hover {
	cursor: pointer;
}

.section-1-button:active {
	box-shadow: 1px 1px 2px #888888;
}

#section-2 {
	width: 100%;
	height: 80vh;
	background-color: #edf2f4;
	/* z-index: 10; */
	/* position: relative; */
	/* top: 100vh; */
	/* margin-top: 100vh; */

	justify-content: center;
	align-items: center;
	row-gap: 5vh;

	text-align: center;
}

#section-2-big {
	font-size: 3rem;

	opacity: 0;
	transition: opacity 1s ease;
}

.section-2-text {
	width: 70%;
	line-height: 7mm;

	opacity: 0;
	transition: opacity 1s ease;
}

.section-2-button {
	border: none;
	height: 5vh;

	box-shadow: 2px 2px 5px #888888;
}

.section-2-button:hover {
	cursor: pointer;
}

.section-2-button:active {
	box-shadow: 1px 1px 2px #888888;
}

#get-in-touch {
	opacity: 0;
	transition: opacity 1s ease;
}

.section-2-button {
	opacity: 0;
	transition: opacity 1s ease;
}

#section-3 {
	width: 100%;
	height: 80vh;
	background-color: #fff;
	/* position: relative; */
	/* top: 100vh; */

	justify-content: center;
	align-items: center;
	row-gap: 5vh;
}

#section-3-big {
	font-size: 3rem;
	opacity: 0;
	transition: opacity 1s ease;
}

#section-3-video {
	opacity: 0;
	transition: opacity 1s ease;
}

#section-3-text {
	width: 70%;
	line-height: 7mm;
	text-indent: 10mm;
	opacity: 0;
	transition: opacity 1s ease;
}

.visible {
	opacity: 1 !important;
}
