* {
  margin: 0;
  font-family: 'Muli', sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: GB;
  src: url(assets/fonts/Gravity-Book.otf);
}

@font-face {
  font-family: GL;
  src: url(assets/fonts/Gravity-Light.otf);
}

/* h1, h2, h3, h4, h5, p, a, li, ol, ul, label, textarea {
} */

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}